In [3]:
print("Hello world")

Hello world

In [6]:
a=7
print(type (a))

<class 'int'>

In [8]:
All_student=True
print(All_student)

True

In [9]:
d,f,g = "Ali", 34 , 78.4
d,f,g

('Ali', 34, 78.4)

In [10]:
a="Hina"
print ( "Hello my name is ",a)

Hello my name is  Hina

In [13]:
print ( f" My name is {a}")

 My name is Hina

In [15]:
name= input (" What is your name ? ")

 What is your name ? Hina

In [16]:
a=40
print ( type(a))

<class 'int'>

In [20]:
a=10
print(bool(10))

True

In [21]:
type(a)

int

In [24]:
x=40
y=80

a=x+y
b=x-y
c=x/y
print(a)
print(b)
print(c)

120
-40
0.5